// Override Bulma variables

// https://bulma.io/documentation/customize/variables/

$primary: #0ce3ac;
$secondary: #8B438E;
$secondary-invert: findColorInvert($secondary) !default;
$custom-colors: (
    "secondary":($secondary, $secondary-invert),
);

$dark: #212121;

$family-sans-serif: "Open Sans";

@import "~bulma/sass/utilities/_all";

.notification {
    position: relative;
    color: $light;
    box-shadow: 0px 0px 12px darken($dark, 5%);
    background: lighten($dark, 10%);
    padding: 1.5em;
}

a.notification {
    color: $light;

    p.title {
        color: $primary;
    }

    p.subtitle {
        color: $light;
    }

    transition: background 0.1s ease-out;

    &:hover {
        background: $secondary;
    }
}