// Override Bulma variables

// https://bulma.io/documentation/customize/variables/

$primary: #0ce3ac;
$secondary: lighten(#8B438E, 10%);
$secondary-invert: findColorInvert($secondary) !default;
$custom-colors: (
    "secondary":($secondary, $secondary-invert),
);

$dark: #212121;
$less-dark: lighten($dark, 10%);

$body-size: 14px;
$family-sans-serif: "Open Sans";

@import "~bulma/sass/utilities/_all";

.notification, .card {
    border-radius: 4px;
    position: relative;
    box-shadow: 0px 0px 12px darken($dark, 5%);
    background: $less-dark;
    color: $light;

    p.title {
        color: $light;
    }

    p.subtitle {
        color: $light;
    }

    .card-image img {
        border-radius: 4px 4px 0px 0px;
    }

    .card-footer {
        border-color: lighten($dark, 5%);
    }
}

.notification {
    padding: 1.5em;
}

a.notification {
    color: $light;

    p.title {
        color: $primary;
    }

    p.subtitle {
        color: $light;
    }

    transition: background 0.1s ease-out;

    &:hover, &:active, &:focus {
        background: darken($secondary, 10%);
    }
}